<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>

        <Kafka name="KAFKA" topic="com.orwellg.log.yggdrasil.hermod.bottomline.fps.1" syncsend="true" ignoreexceptions="false">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
            <Property name="bootstrap.servers">kafka-node1.localdomain:6668,kafka-node2.localdomain:6668,kafka-node3.localdomain:6668,kafka-node4.localdomain:6668,kafka-node5.localdomain:6668,kafka-node6.localdomain:6668</Property>
        </Kafka>

        <RollingFile name="FILE" filename="logs/hermod-bottomline-fps.log" filePattern="logs/hermod-bottomline-fps-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <!--<TimeBasedTriggeringPolicy interval="1" modulate="true" />-->
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>
        <Async name="ASYNC">
            <AppenderRef ref="KAFKA" />
            <AppenderRef ref="FILE" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="ASYNC" />
        </Root>
    </Loggers>
</Configuration>