create /com/orwellg/hermod ' '
create /com/orwellg/hermod/bottomline ' '
create /com/orwellg/hermod/bottomline/fps ' '

create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.host 80.169.11.104
set /com/orwellg/hermod/bottomline/fps/wq.mq.site1.port 49180
set /com/orwellg/hermod/bottomline/fps/wq.mq.site1.queue.manager BT.ORUN.UA.FPS.01
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.channel IPAGOO.CONNECT
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.username ipagoo
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.password ''

create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.host 213.129.75.120
set /com/orwellg/hermod/bottomline/fps/wq.mq.site2.port 49180
set /com/orwellg/hermod/bottomline/fps/wq.mq.site2.queue.manager BT.ORUN.UA.FPS.01
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.channel IPAGOO.CONNECT
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.username ipagoo
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.password ''

create /com/orwellg/hermod/bottomline/fps/kafka.bootstrap.host confluent-master-0.node.consul:9092, confluent-master-1.node.consul:9092, confluent-master-2.node.consul:9092

create /com/orwellg/hermod/bottomline/fps/entity.name IPAGOO
create /com/orwellg/hermod/bottomline/fps/brand.name IPAGOO

create /com/orwellg/hermod/bottomline/fps/jms.mq.bottomline.environment.1 COLT
create /com/orwellg/hermod/bottomline/fps/jms.mq.bottomline.environment.2 BUNKER

create /com/orwellg/hermod/bottomline/fps/wq.mq.receive.timeout 2000
create /com/orwellg/hermod/bottomline/fps/wq.mq.receive.num.max.consumers 1
create /com/orwellg/hermod/bottomline/fps/wq.mq.num.max.attempts 5
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.test ORUN.TEST.INB.RECV.QR 
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.inbound ORUN.HOST.SYNC.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.inbound  ORUN.HOST.ASYN.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.poo.inbound ORUN.HOST.POO.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.standin.inbound ORUN.HOST.STANDIN.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.usm.inbound  ORUN.HOST.USM.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.inbound.resp ORUN.HOST.SYNC.RECV.RESP.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.inbound.resp ORUN.HOST.ASYN.RECV.RESP.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.outbound ORUN.HOST.SYNC.SEND.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.outbound.resp ORUN.HOST.SYNC.SEND.RESP.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.outbound ORUN.HOST.ASYN.SEND.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.outbound.resp ORUN.HOST.ASYN.SEND.RESP.QL

create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.response.replyTo com.orwellg.yggdrasil.dsl.fps.inbound.payment.accounting.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.response com.orwellg.yggdrasil.dsl.fps.inbound.payment.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.response.payment com.orwellg.yggdrasil.dsl.fps.inbound.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.reject com.orwellg.yggdrasil.dsl.fps.inbound.payment.reject.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.request com.orwellg.yggdrasil.dsl.fps.inbound.payment.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.outbound.response com.orwellg.yggdrasil.dsl.fps.outbound.payment.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.outbound.request com.orwellg.hermod.bottomline.fps.outbound.payment.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.usm.message com.orwellg.yggdrasil.dsl.fps.inbound.usm.received.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.reversal.request com.orwellg.yggdrasil.dsl.fps.inbound.reversal.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.reversal.response com.orwellg.yggdrasil.dsl.fps.inbound.reversal.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.fps.logging com.orwellg.logging.message

create /com/orwellg/hermod/bottomline/fps/kafka.topic.outbound.partitions 3
create /com/orwellg/hermod/bottomline/fps/kafka.consumer.group.id hermod-bottomline-fps-inbound
create /com/orwellg/hermod/bottomline/fps/kafka.consumer.threads.num 3
create /com/orwellg/hermod/bottomline/fps/kafka.consumer.poll.timeout 3000
create /com/orwellg/hermod/bottomline/fps/inmemory.cache.expiringMinutes 30

create /com/orwellg/hermod/bottomline/fps/connector.1.mq_primary COLT


