<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Kafka name="KAFKA" topic="com.orwellg.log.hermod.bottomline.fps.1" syncsend="true" ignoreexceptions="false">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
            <Property name="bootstrap.servers">confluent-master-0.node.consul:9092, confluent-master-1.node.consul:9092, confluent-master-2.node.consul:9092</Property>
            <Property name="acks">1</Property>
            <Property name="compression.type">snappy</Property>
        </Kafka>

        <RollingFile name="FILE" filename="logs/hermod-bottomline-fps.log" filePattern="logs/hermod-bottomline-fps-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>

        <Async name="ASYNC">
            <AppenderRef ref="KAFKA" />
            <AppenderRef ref="FILE" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="ASYNC" />
        </Root>
        <Logger name="org.springframework" level="ERROR" >
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="org.apache.kafka" level="INFO" />
    </Loggers>
</Configuration>