create /com/orwellg/hermod ' '
create /com/orwellg/hermod/bottomline ' '
create /com/orwellg/hermod/bottomline/fps ' '

create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.host 80.169.11.104
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.port 49180
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.queue.manager BT.ORUN.UA.FPS.01
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.channel IPAGOO.SSL.CONN.A
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.username ipagoo
create /com/orwellg/hermod/bottomline/fps/wq.mq.site1.password ''

create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.host 213.129.75.120
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.port 49180
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.queue.manager BT.ORUN.UA.FPS.01
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.channel IPAGOO.SSL.CONN.A
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.username ipagoo
create /com/orwellg/hermod/bottomline/fps/wq.mq.site2.password ''

create /com/orwellg/hermod/bottomline/fps/kafka.bootstrap.host confluent-master-0.node.consul:9092, confluent-master-1.node.consul:9092, confluent-master-2.node.consul:9092

create /com/orwellg/hermod/bottomline/fps/entity.name IPAGOO
create /com/orwellg/hermod/bottomline/fps/brand.name IPAGOO

create /com/orwellg/hermod/bottomline/fps/jms.mq.bottomline.environment.1 COLT
create /com/orwellg/hermod/bottomline/fps/jms.mq.bottomline.environment.2 BUNKER

create /com/orwellg/hermod/bottomline/fps/wq.mq.receive.timeout 2000
create /com/orwellg/hermod/bottomline/fps/wq.mq.receive.num.max.consumers 5
create /com/orwellg/hermod/bottomline/fps/wq.mq.num.max.attempts 5
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.test ORUN.TEST.INB.RECV.QR 
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.inbound ORUN.HOST.SYNC.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.inbound  ORUN.HOST.ASYN.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.poo.inbound ORUN.HOST.POO.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.standin.inbound ORUN.HOST.STANDIN.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.usm.inbound  ORUN.HOST.USM.RECV.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.inbound.resp ORUN.HOST.SYNC.RECV.RESP.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.inbound.resp ORUN.HOST.ASYN.RECV.RESP.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.outbound ORUN.HOST.SYNC.SEND.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.sip.outbound.resp ORUN.HOST.SYNC.SEND.RESP.QL
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.outbound ORUN.HOST.ASYN.SEND.QR
create /com/orwellg/hermod/bottomline/fps/wq.mq.queue.asyn.outbound.resp ORUN.HOST.ASYN.SEND.RESP.QL

create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.response.replyTo com.orwellg.yggdrasil.dsl.fps.inbound.payment.accounting.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.response com.orwellg.yggdrasil.dsl.fps.inbound.payment.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.response.payment com.orwellg.yggdrasil.dsl.fps.inbound.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.reject com.orwellg.yggdrasil.dsl.fps.inbound.payment.reject.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.inbound.request com.orwellg.yggdrasil.dsl.fps.inbound.payment.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.outbound.response com.orwellg.yggdrasil.dsl.fps.outbound.payment.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.outbound.request com.orwellg.hermod.bottomline.fps.outbound.payment.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.usm.message com.orwellg.yggdrasil.dsl.fps.inbound.usm.received.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.reversal.request com.orwellg.yggdrasil.dsl.fps.inbound.reversal.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.reversal.response com.orwellg.yggdrasil.dsl.fps.inbound.reversal.response.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.fps.inbound.logging com.orwellg.hermod.bottomline.fps.inbound.raw.messages.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.fps.outbound.logging com.orwellg.hermod.bottomline.fps.outbound.raw.messages.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.fps.outbound.undopayment com.orwellg.yggdrasil.payments.accounting.undo.1

create /com/orwellg/hermod/bottomline/fps/kafka.topic.outbound.partitions 3
create /com/orwellg/hermod/bottomline/fps/kafka.consumer.group.id hermod-bottomline-fps-inbound
create /com/orwellg/hermod/bottomline/fps/kafka.consumer.threads.num 3
create /com/orwellg/hermod/bottomline/fps/kafka.consumer.poll.timeout 3000
create /com/orwellg/hermod/bottomline/fps/inmemory.cache.expiringMinutes 30

create /com/orwellg/hermod/bottomline/fps/connector.1.mq_primary COLT
create /com/orwellg/hermod/bottomline/fps/connector.1.groupId hermod-bottomline-fps-inmemory.1

create /com/orwellg/hermod/bottomline/fps/connector.emergency.log false

create /com/orwellg/hermod/bottomline/fps/kafka.topic.cache.request com.orwellg.hermod.bottomline.fps.cache.payment.request.1
create /com/orwellg/hermod/bottomline/fps/kafka.topic.cache.response com.orwellg.hermod.bottomline.fps.cache.payment.response.1

create /com/orwellg/hermod/bottomline/fps/jms.mq.send.messages true

create /com/orwellg/hermod/bottomline/fps/connector.payments.sent.roundrobin true
create /com/orwellg/hermod/bottomline/fps/connector.responses.sent.roundrobin false

create /com/orwellg/hermod/bottomline/fps/useSSL false
create /com/orwellg/hermod/bottomline/fps/SSLCipherSuite TLS_RSA_WITH_AES_256_CBC_SHA256

create /com/orwellg/hermod/bottomline/fps/keyStore /etc/ssl/fps-mq-client/fps-client.keystore.jks
create /com/orwellg/hermod/bottomline/fps/keyStorePassword OGgepd@43IM
create /com/orwellg/hermod/bottomline/fps/trustStore /etc/ssl/fps-mq-client/fps-client.truststore.jks
create /com/orwellg/hermod/bottomline/fps/trustStorePassword OGgepd@43IM
create /com/orwellg/hermod/bottomline/fps/useIBMCipherMappings false